{%extends 'temp.html'%}
{%block content%}
<style>
.courses{
    background-color:#616A6B;
}

.courses .dept_main{
    background-color: #616A6B;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.courses .dept_sec{
    background-color: var(--second-bg-color);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.courses .dept_third{
    background-color: #616A6B;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img{
    width: 100vh;
    margin-left: 12vh;
    margin-right: 8vh;
    border:3px solid var(--main-color);
    border-radius: 4%;
    box-shadow: 0 0 1.5rem var(--main-color);
}

.about-content{
    width: 34rem;
}

.about-content p{
    text-align: justify;
}
.btn{
    border:1px solid #99A3A4;
    color:#99A3A4;
}

</style>
<section class="courses">
    <div class="dept_main">
        <div class="about-img">
            <img src="../static/a2.jpg" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">Computer Science and<span style="color:#99A3A4;"> Engineering</span></h2>
            <p>ABC Kanpur has been established in year 1991
                by the sincere efforts of our chairman Mr. Basu
                with a view for making it a leading group of colleges
                to become a Centre of Excellence with focus on Research and
                Development and Incubation in the field of Engineering & Technology,
                Basic & Applied Sciences, Humanities, Social Science & Management Architecture
                and other professional courses. ABC aims to promote studies, research & innovation
                in Engineering areas of higher education, to enhance skill development through continuing
                education programme and knowledge and to achieve excellence in higher Technical education.</p>
            <p>On academic front, the College is running six
                Undergraduate Programmes in Chemical Engineering, Civil Engineering,
                Computer Science & Engineering, Electrical Engineering, Electronics Engineering and
                Mechanical Engineering . In view of the emerging need of the time, the College is
                planning to start number of Programmes at Undergraduate and Post Graduate level in the near future.
            </p>

            <button type="button" class="btn">Fees Structure</button>
        </div>
    </div>

    <div class="dept_sec">
        <div class="about-content">
            <h2 class="heading">Mechanical<span style="color:#99A3A4;"> Engineering</span></h2>
            <p>ABC Kanpur has been established in year 1991
                by the sincere efforts of our chairman Mr. Basu
                with a view for making it a leading group of colleges
                to become a Centre of Excellence with focus on Research and
                Development and Incubation in the field of Engineering & Technology,
                Basic & Applied Sciences, Humanities, Social Science & Management Architecture
                and other professional courses. ABC aims to promote studies, research & innovation
                in Engineering areas of higher education, to enhance skill development through continuing
                education programme and knowledge and to achieve excellence in higher Technical education.</p>
            <p>On academic front, the College is running six
                Undergraduate Programmes in Chemical Engineering, Civil Engineering,
                Computer Science & Engineering, Electrical Engineering, Electronics Engineering and
                Mechanical Engineering . In view of the emerging need of the time, the College is
                planning to start number of Programmes at Undergraduate and Post Graduate level in the near future.
            </p>

            <button type="button" class="btn">Fees Structure</button>
        </div>
        <div class="about-img">
            <img src="../static/a2.jpg" alt="">
        </div>
    </div>


    <div class="dept_third">
        <div class="about-img">
            <img src="../static/a2.jpg" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">Electrical <span style="color:#99A3A4;">Engineering</span></h2>
            <p>ABC Kanpur has been established in year 1991
                by the sincere efforts of our chairman Mr. Basu
                with a view for making it a leading group of colleges
                to become a Centre of Excellence with focus on Research and
                Development and Incubation in the field of Engineering & Technology,
                Basic & Applied Sciences, Humanities, Social Science & Management Architecture
                and other professional courses. ABC aims to promote studies, research & innovation
                in Engineering areas of higher education, to enhance skill development through continuing
                education programme and knowledge and to achieve excellence in higher Technical education.</p>
            <p>On academic front, the College is running six
                Undergraduate Programmes in Chemical Engineering, Civil Engineering,
                Computer Science & Engineering, Electrical Engineering, Electronics Engineering and
                Mechanical Engineering . In view of the emerging need of the time, the College is
                planning to start number of Programmes at Undergraduate and Post Graduate level in the near future.
            </p>

            <button type="button" class="btn">Fees Structure</button>
        </div>
    </div>


    <div class="dept_sec">
        <div class="about-content">
            <h2 class="heading">Civil <span style="color:#99A3A4;">Engineering</span></h2>
            <p>ABC Kanpur has been established in year 1991
                by the sincere efforts of our chairman Mr. Basu
                with a view for making it a leading group of colleges
                to become a Centre of Excellence with focus on Research and
                Development and Incubation in the field of Engineering & Technology,
                Basic & Applied Sciences, Humanities, Social Science & Management Architecture
                and other professional courses. ABC aims to promote studies, research & innovation
                in Engineering areas of higher education, to enhance skill development through continuing
                education programme and knowledge and to achieve excellence in higher Technical education.</p>
            <p>On academic front, the College is running six
                Undergraduate Programmes in Chemical Engineering, Civil Engineering,
                Computer Science & Engineering, Electrical Engineering, Electronics Engineering and
                Mechanical Engineering . In view of the emerging need of the time, the College is
                planning to start number of Programmes at Undergraduate and Post Graduate level in the near future.
            </p>

            <button type="button" class="btn">Fees Structure</button>
        </div>
        <div class="about-img">
            <img src="../static/a2.jpg" alt="">
        </div>
    </div>


</section>
{%endblock%}